body {
    background: #ffffff;
    font-family: 'Oswald', sans-serif;
}

  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  




.navbar-colour {
    background:#0a1722; 
}

.added-scroll {
    background:#0a1722;   
    max-height: 45px; 
    opacity: 0.5
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;    
}
.nav-link {
    margin-right: 1em;
}
.nav-link:hover {
    color: #696d6d
}
.navbar-collapse {
    justify-content: flex-end;
}


/* The dropdown container https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp*/
.dropdown {
    float: left;
    overflow: hidden;

  }
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: fixed;
    background-color: #f9f9f9;
    width: 250px;
    max-height: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content ul {
  flex: 1;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content li {
    display: none;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content li:hover {
    background-color: rgb(117, 117, 117);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: none;
  }


div.aim {
    padding: 2em;
}

div.aim p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}


div.chart {
    padding: 2em;
}

h2.aimTitle {
   padding-top: 40px;
   text-align: center;
   font-family: "Courier New", "Monaco", monospace;

  }
  h2.datainfo {
    padding-top: 40px;
    text-align: center;

 
   }


h3 {
    font-weight: bold;
    text-align: center;
}

h6 {
    font-weight: bold;
}

div.threat {
  padding: 9em;
}

div.problem {
  background: rgb(209, 218, 218);

}

div.bubbleControl {
  padding-top: 2em;
}

.header {
    background-image: url('Photo_by_Aleksandar_Pasaric_from_Pexels.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: relative;
    min-height: 25%;
    min-width: 100%;
    left: 0;
    top: 40%;
    background: rgba(255, 255, 255, 0.418);
}


.description {
	left: 50%;
	position: absolute;
	top: 58%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #0a1722;
    font-family: "Courier New", "Monaco", monospace;
}
.description p {
    font-family: "Courier New", "Monaco", monospace;
	color: #0a1722;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:1px solid rgb(255, 255, 255);
    background:#fff;
    border-radius: 0;
    color:#000;
}
.description button:hover {
	border:1px solid #fff;
    background:rgb(5, 27, 37);
    color:#fff;
}

a:link.links {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited.links {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover.links {
    color: rgb(3, 34, 39);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active.links {
    color: rgb(21, 22, 29);
    background-color: transparent;
    text-decoration: underline;
  }



