body {
    background: #ffffff;
}
.navbar-colour {
    background:#0a1722;
    max-height: 80px; 
}

.added-scroll {
    background:#0a1722;   
    max-height: 45px; 
    opacity: 0.5
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;    
}
.nav-link {
    margin-right: 1em;
}
.nav-link:hover {
    color: rgb(68, 172, 216);
}
.navbar-collapse {
    justify-content: flex-end;
}

div.a {
    padding: 2em;
}

h2.b {
   padding-top: 45px;
   text-align: center;
   font-family: "Courier New", "Monaco", monospace;
   font-weight: bold;
  }

h3 {
    font-family: "Courier New", "Monaco", monospace;
    font-weight: bold;
    text-align: center;
}

h6 {
    font-weight: bold;
}
 div.container {

    padding: 2em;
    background: rgb(255, 255, 255);


   }
.desc {

    border-left:4px solid #0a1722;
    
}

.header {
    background-image: url('Photo_by_Aleksandar_Pasaric_from_Pexels.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: relative;
    min-height: 25%;
    min-width: 100%;
    left: 0;
    top: 40%;
    background: rgba(255, 255, 255, 0.418);
}


.description {
	left: 50%;
	position: absolute;
	top: 58%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #0a1722;
    font-family: "Courier New", "Monaco", monospace;
}
.description p {
    font-family: "Courier New", "Monaco", monospace;
	color: #0a1722;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:0px solid #fff;
    background:#fff;
    border-radius: 0;
    color:#000;
}
.description button:hover {
	border:1px solid #fff;
    background:rgb(5, 27, 37);
    color:#fff;
}

a:link.links {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited.links {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover.links {
    color: rgb(3, 34, 39);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active.links {
    color: rgb(21, 22, 29);
    background-color: transparent;
    text-decoration: underline;
  }


